{% extends 'OnlineJudgeApp/base.htm' %}
{% block title %}Add Contest{% endblock %}
{% block content %}
<div class="container">
	<form style="width:70%;min-width: 384px;max-width: 768px;margin: auto;" method="POST" action="{% url 'post_contest' %}">
		{% csrf_token %}
		<div class="form-group row">
			<label for="contest-duration" class="col-sm-4 col-form-label">Duration</label>
			<div class="col-sm-8">
				<input type="number" class="form-control" id="contest-duration" required min="60" max="180" step="5" name="contest-duration">
				<small class="form-text text-muted">
					(in minutes)
				</small>
			</div>
		</div>
		<div class="form-group row">
			<label for="contest-start" class="col-sm-4 col-form-label">Start time</label>
			<div class="col-sm-8">
				<input type="datetime-local" class="form-control" id="contest-start" required name="contest-start">
			</div>
		</div>
		<div class="form-group row">
			<label for="contest-problems" class="col-sm-4 col-form-label">Select problems</label>
			<div class="col-sm-8">
				<select multiple class="form-control" id="contest-problems" name="contest-problems">
					{% for id,name in prob_list %}
						<option value={{ id }}>{{ name }}</option>
					{% endfor %}
				</select>				
			</div>
		</div>
		<div class="text-center">
			<button type="submit" class="btn btn-primary" id="submit-button">Propose contest</button>	
		</div>
	</form>
</div>
{% endblock %}
{% block customjs %}
<script type="text/javascript">
	$('#submit-button').click(function () {
		counter=$("select option:selected").length;
		if(counter>26 or counter<1)return false;
	});	
</script>
{% endblock %}