{% extends 'OnlineJudgeApp/base.htm' %}
{% block title %}Contests{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<p>
				<h3 style="color: #444">{{ title }}</h3>
				<span>By <a href="{% url 'user' user_id %}">{{ user_id }}</a>, <span data-date='{{timestamp|date:"r"}}'></span></span> {% if request.user.is_superuser %}{% if not isImportant %}<a href="{% url 'makeImportant' blog_id %}">Make important</a>{% else %}<a href="{% url 'removeImportant' blog_id %}">Remove important</a>{% endif %}{% endif %}
			</p>
			<blockquote class="blockquote" style="font-size: 1rem;">
				<span style="white-space:pre">{{ content }}</span>
			</blockquote>
			<div class="row">
				<div class="col-md-5">Comments</div>
				<div class="col-md-5"></div>
				<div class="col-md-2"><a href="#" onclick="return focus_form();">Write comment</a></div>
			</div>
			<hr>
			{% for comment in comments %}
			<div class="row" style="margin-bottom: 8px">
				<div class="col-md-3">
					<a href="{% url 'user' comment.author %}">{{comment.author}}</a><br>
					<small class="text-muted"><span data-date='{{comment.timestamp|date:"r"}}'></span></small>
				</div>
				<div class="col-md-9">
					{{comment.content}}
				</div>
			</div>
			{% endfor %}
			<hr>
			<form style="width:70%;min-width: 384px;max-width: 768px;margin: auto;" id="comment-form" method="POST" action="{% url 'post_comment' blog_id %}">
				{% csrf_token %}
				<div class="form-group row">
					<label for="comment" class="col-sm-4 col-form-label">Post Comment</label>
					<div class="col-sm-8">
						<textarea class="form-control" id="comment" rows="5" required name="comment_content"></textarea>
						<small class="form-text text-muted">
							You may use LaTeX for rendering mathematical symbols.
						</small>
					</div>
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-primary">Post comment</button>		
				</div>				
			</form>			
		</div>
		<div class="col-md-3">
			<table style="width:100%">
				<thead>
					<tr>
						<td>
							<i class="fa fa-chevron-right" aria-hidden="true"></i> <strong> {{ request.user.username }}</strong>
							<hr>							
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<ul>
								<li>
									Rating: {{ request.user.profile.rating }}
								</li>
								<li>
									<a href="{% url 'add_blog' %}">Write a blog</a>
								</li>
								<li>
									<a href="{% url 'add_problem' %}">Add a problem</a>
								</li>
								<li>
									<a href="{% url 'add_contest' %}">Propose a contest</a>
								</li>
							</ul>							
						</td>
					</tr>
				</tbody>
			</table>
			<table style="width:100%">
				<thead>
					<tr>
						<td><i class="fa fa-chevron-right" aria-hidden="true"></i> <strong> Top Rated</strong><hr></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="row"  style="padding-left: 10%;margin-bottom: 16px;">
								<div class="col-md-6">
									<strong>User</strong>
								</div>
								<div class="col-md-6">
									<strong>Rating</strong>
								</div>
								{% for user in topRated %}
								<div class="col-md-6">
									<a href="{% url 'user' user.username %}">{{user.username}}</a>
								</div>
								<div class="col-md-6">
									{{user.rating}}
								</div>
								{% endfor %}
							</div>							
						</td>						
					</tr>
				</tbody>
			</table>
			<table style="width:100%">
				<thead>
					<tr>
						<td>
							<i class="fa fa-chevron-right" aria-hidden="true"></i> <strong> Recent Blogs</strong><hr>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<ul>
								{% for blog in recentBlogs %}
								<li>
									<a href="{% url 'user' blog.username %}">{{blog.username}}</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="{% url 'blog' blog.blog_id %}">{{blog.title}}</a>
								</li>
								{% endfor %}
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block customjs %}
<script type="text/javascript">
	function focus_form(){
		document.getElementById("comment").focus();
		return false;
	}
	MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
	$(document).ready(function(){
		$('span[data-date]').each(function(){
			var cur=$(this);
			cur.html(moment(new Date(cur.attr('data-date'))).fromNow());
		});
	});

</script>

{% endblock %}