{% extends 'OnlineJudgeApp/base.htm' %}
{% block title %}Contests{% endblock %}
{% block content %}
<div class="container">
	{% if presentContests or futureContests %}
	<table style="width:100%">
		<thead>
			<tr>
				<td><i class="fa fa-chevron-right" aria-hidden="true"></i> <strong> Current/Upcoming Contests</strong><hr></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="row"  style="padding-left: 10%;margin-bottom: 16px;">
						<div class="col-md-3">
							<strong>Name</strong>
						</div>
						<div class="col-md-3">
							<strong>Start</strong>
						</div>
						<div class="col-md-3">
							<strong>Duration</strong>
						</div>
						<div class="col-md-3">
							<strong>Registration</strong>
						</div>
					</div>
					{% for contest in presentContests %}
					<div class="row"  style="padding-left: 10%;margin-bottom: 16px;">
						<div class="col-md-3">
							Round {{contest.contest_id}}
						</div>
						<div class="col-md-3">
							{{contest.start_time|date:"d M Y, H:i T"}}
						</div>
						<div class="col-md-3">
							{{contest.duration}}
						</div>
						<div class="col-md-3">
							<a href="{% url 'contest' contest.contest_id %}">Enter</a>
						</div>
					</div>
					{% endfor %}
					{% for contest in futureContests %}
					<div class="row"  style="padding-left: 10%;margin-bottom: 16px;">
						<div class="col-md-3">
							Round {{contest.contest_id}}
						</div>
						<div class="col-md-3">
							{{contest.start_time|date:"d M Y, H:i T"}}
						</div>
						<div class="col-md-3">
							{{contest.duration}}
						</div>
						<div class="col-md-3">
						</div>

					</div>
					{% endfor %}
				</td>			
			</tr>
		</tbody>
	</table>
	{% endif %}
	{% if pastContests %}
	<table style="width:100%">
		<thead>
			<tr>
				<td><i class="fa fa-chevron-right" aria-hidden="true"></i> <strong> Past Contests</strong><hr></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="row"  style="padding-left: 10%;margin-bottom: 16px;">
						<div class="col-md-3">
							<strong>Name</strong>
						</div>
						<div class="col-md-3">
							<strong>Start</strong>
						</div>
						<div class="col-md-3">
							<strong>Duration</strong>
						</div>
					</div>
					{% for contest in pastContests %}
					<div class="row"  style="padding-left: 10%;margin-bottom: 16px;">
						<div class="col-md-3">
							Round {{contest.contest_id}}
						</div>
						<div class="col-md-3">
							{{contest.start_time|date:"d M Y, H:i T"}}
						</div>
						<div class="col-md-3">
							{{contest.duration}}
						</div>
						{% if request.user.is_superuser %}
						<div>
						{% if contest.ratingUpdated %}
							Rating updated!
						{% else %}
							<a href="{% url 'update_rating' contest.contest_id %}">Update ratings</a>
						{% endif %}
						</div>
						{% endif %}
					</div>
					{% endfor %}
				</td>			
			</tr>
		</tbody>
	</table>
	{% endif %}
</div>
{% endblock %}