{% extends 'OnlineJudgeApp/base.htm' %}
{% block title %}Contests{% endblock %}
{% block content %}
<div class="container">
	<div style="text-align: center;">
		<strong>{{idx}}. {{name}}</strong><br>
		TL: {{time_limit}} milliseconds<br>
		ML: {{mem_limit}} MB<br>
	</div>
	<div class="row">
		<div class="col-md-8">
			<span style="white-space: pre"></span>{{content}}
		</div>
		<div class="col-md-4">
			<form style="width:100%;margin: auto;" method="POST" action="{% url 'submit' contest_id=contest_id problem_id=idx %}" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-group">
					<select class="form-control" id="compiler" name="compiler">
						<option value="1">GNU GCC 5.1.0</option>
						<option value="2">GNU GCC C11 5.1.0</option>
						<option value="3">GNU G++ 5.1.0</option>
						<option value="4">GNU G++11 6.2.0</option>
						<option value="5">Go 1.7.3</option>
						<option value="6">Java 1.8.0_112</option>
						<option value="7">Free Pascal 2.6.4</option>
						<option value="8">Python 2.7.13</option>
						<option value="9">Python 3.6.2</option>
					</select>
				</div>
				<div class="form-group">
					<label class="custom-file">
						<input type="file" id="file" class="custom-file-input" name="submit_code_file">
						<span class="custom-file-control"></span>
					</label>
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-primary">Submit</button>		
				</div>
			</form>
			<div class="submissions">
				<i class="fa fa-chevron-right" aria-hidden="true"></i> <strong> Submissions</strong>
				<hr>
				<small>
					{% for sub in submissions %}
					<div class="row">
						<div class="col-md-4">{{ sub.sub_id }}</div>
						<div class="col-md-5">{{ sub.timestamp|date:"d M Y, H:i T" }}</div>
						<div class="col-md-3">
							{% if sub.verdict == "AC" %}<span class="text-success">AC</span>
							{% elif sub.verdict == "PD" %}<span class="text-secondary">Running</span>
							{% else %}<span class="text-danger">{{sub.verdict}}</span>
							{% endif %}
						</div>			
					</div>
					{% endfor %}
				</small> 
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}
{% block customjs %}
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>

<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/javascript">
	$(window).on('hashchange',function(){ 
		var mylink=$(window.location.hash+'-pill');
		mylink.click();
	});
	$(document).ready(function() {
		var mylink=$(window.location.hash+'-pill');
		mylink.click();
	} );
</script>
{% endblock %}