{% extends 'OnlineJudgeApp/base.htm' %}
{% block title %}Settings{% endblock %}
{% block content %}
<div class="container">
	<form style="width:70%;min-width: 384px;max-width: 768px;margin: auto;" method="POST" action="{% url 'update_profile' %}" onsubmit="return validateForm()" name="change_pass">
		{% csrf_token %}
		<div class="form-group row">
			<label for="handle" class="col-sm-5 col-form-label">Handle</label>
			<div class="col-sm-7">
				<input type="text" readonly class="form-control" id="handle" value="{{request.user.username}}">
			</div>
		</div>
		<div class="form-group row">
			<label for="name" class="col-sm-5 col-form-label">Name</label>
			<div class="col-sm-7">
				<input type="text" readonly class="form-control" id="name" value="{{request.user.first_name}} {{request.user.last_name}}">
			</div>
		</div>
		<div class="form-group row">
			<label for="email" class="col-sm-5 col-form-label">Email address</label>
			<div class="col-sm-7">
				<input type="email" class="form-control" id="email" placeholder="Enter email" value="{{request.user.email}}" readonly>
			</div>
		</div>
		<div class="form-group row">
			<label for="new_pass" class="col-sm-5 col-form-label">New password</label>
			<div class="col-sm-7">
				<input type="password" class="form-control" id="new_pass" aria-describedby="new_password" placeholder="Enter new password" name="new_pass">
			</div>
		</div>
		<div class="form-group row">
			<label for="confirm_pass" class="col-sm-5 col-form-label">Confirm new password</label>
			<div class="col-sm-7">
				<input type="password" class="form-control" id="confirm_pass" placeholder="Re-enter new password" name="confirm_pass">
			</div>
		</div>
		<div class="form-group row">
			<label for="old_pass" class="col-sm-5 col-form-label">Old password</label>
			<div class="col-sm-7">
				<input type="password" class="form-control" id="old_pass" aria-describedby="password" placeholder="Enter old password" required name="old_pass">
			</div>
		</div>
		<div class="text-center">
			<button type="submit" class="btn btn-primary">Save changes</button>		
		</div>
	</form>
</div>
{% block customjs %}
<script type="text/javascript">
	function scorePassword(pass) {
		var score = 0;
		if (!pass)return score;

		var letters = new Object();
		for (var i=0; i<pass.length; i++) {
			letters[pass[i]] = (letters[pass[i]] || 0) + 1;
			score += 5.0 / letters[pass[i]];
		}
		var variations = {
			digits: /\d/.test(pass),
			lower: /[a-z]/.test(pass),
			upper: /[A-Z]/.test(pass),
			nonWords: /\W/.test(pass),
		}

		variationCount = 0;
		for (var check in variations) {
			variationCount += (variations[check] == true) ? 1 : 0;
		}
		score += (variationCount - 1) * 10;

		return parseInt(score);
	}
	function validateForm(){
		var newpass=document.change_pass.new_pass.value;
		var confirmpass=document.change_pass.confirm_pass.value;		
		if(confirmpass!=newpass){
			alert("Passwords do not match! Try again.");
			return false;
		}
		if(scorePassword(newpass)<40){
			alert("Weak password. Please try again.");
			return false;
		}
	}
</script>
{% endblock %}
{% endblock %}