{% extends 'OnlineJudgeApp/base.htm' %}
{% load static %}
{% block title %}Contests{% endblock %}
{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
{% endblock %}
{% block content %}
<div class="container">
	<table id="standings" class="table table-striped table-bordered" style="border-collapse: collapse;width: 100%;border-spacing: 0">
		<thead>
			<tr>
				<th>#</th>
				<th data-orderable="false">Handle</th>
				<th>Total Points</th>
				<th>A <span class="text-muted small">(500)</span></th>
				<th>B <span class="text-muted small">(1000)</span></th>
				<th>C <span class="text-muted small">(1500)</span></th>
				<th>D <span class="text-muted small">(2000)</span></th>
				<th>E <span class="text-muted small">(2250)</span></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td><a href="#" class="user-red">kmjp</a></td>
				<td>5325</td>
				<td>480</td>
				<td>920</td>
				<td>1116</td>
				<td>1608</td>
				<td>1201</td>
			</tr>
			<tr>
				<td>2</td>
				<td><a href="#" class="user-red">SpyCheese</a></td>
				<td>5300</td>
				<td>492</td>
				<td>956</td>
				<td>804</td>
				<td>1672</td>
				<td>1376</td>
			</tr>
			<tr>
				<td>4</td>
				<td><a href="#" class="user-red">HellKitsune</a></td>
				<td>5171</td>
				<td>440</td>
				<td>944</td>
				<td>1182</td>
				<td>1408</td>
				<td>1197</td>
			</tr>
			<tr>
				<td>3</td>
				<td><a href="#" class="user-red">kajebiii</a></td>
				<td>5223</td>
				<td>490</td>
				<td>928</td>
				<td>1144</td>
				<td>1464</td>
				<td>1197</td>
			</tr>
			<tr>
				<td>5</td>
				<td><a href="#" class="user-red">fateice</a></td>
				<td>5168</td>
				<td>492</td>
				<td>940</td>
				<td>726</td>
				<td>1606</td>
				<td>1404</td>
			</tr>
			<tr>
				<td>6</td>
				<td><a href="#" class="user-red">Reyna</a></td>
				<td>4879</td>
				<td>490</td>
				<td>0</td>
				<td>948</td>
				<td>1808</td>
				<td>1633</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}
{% block customjs %}
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#standings').DataTable({
			"order": [[0,"asc"]],
			"columns": [
			{"searchable":false},
			{"searchable":true},
			{"searchable":false},
			{"searchable":false},
			{"searchable":false},
			{"searchable":false},
			{"searchable":false},
			{"searchable":false}				
			],
			"smart": false,
			"bInfo": false
		});
	} );
</script>
{% endblock %}