{% extends 'OnlineJudgeApp/base.htm' %}
{% load staticfiles %}
{% block title %}praran26{% endblock %}
{% block content %}
<div class="container">
	<p><i class="fa fa-chevron-right" aria-hidden="true"></i> <strong class="user-orange"> praran26</strong></p>
	<div class="user-profile">
		<div class="row">
			<div class="col-md-5">
				<p><i class="fa fa-user-circle-o" aria-hidden="true"></i> Pranjal Jain</p>
				<p><i class="fa fa-area-chart" aria-hidden="true"></i> <span class="user-orange">2211 (Master)</span></p>
				<p><i class="fa fa-envelope" aria-hidden="true"></i> pranjal.jain.cse15@iitbhu.ac.in</p>
				<p><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#user-blogs" aria-expanded="false" aria-controls="user-blogs">
					Blog entries
				</button></p>
				<div class="collapse" id="user-blogs">
					<div class="card card-body">
						<ul style="margin-bottom: 0">
							<li><a href="#">[Tutorial] Centroid Decomposition</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div id="placeholder" style="width: 100%;height: 300px"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block customjs %}
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="excanvas.min.js"></script><![endif]-->
<script src="{% static 'js/jquery.flot.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.flot.time.js' %}" crossorigin="anonymous"></script>
<script type="text/javascript">
	        $(document).ready(function () {

var data = new Array();

    data.push([
        [
             1438790400000,
             1446,
             567,
             "Codeforces Round #Pi (Div. 2)",
             "",
             -54,
             1858,
            "/contest/567/standings/participant/5284866#p5284866",
            "specialist",
            "specialist",
            "654821",
            "Codeforces Round #Pi (Div. 2)"
        ]
        ,
        [
             1439224200000,
             1357,
             569,
             "Codeforces Round #315 (Div. 2)",
             "",
             -89,
             2107,
            "/contest/569/standings/participant/5319622#p5319622",
            "pupil",
            "pupil",
            "659613",
            "Codeforces Round #315 (Div. 2)"
        ]
        ,
        [
             1441902600000,
             1419,
             577,
             "Codeforces Round #319 (Div. 2)",
             "",
             62,
             1170,
            "/contest/577/standings/participant/5564699#p5564699",
            "specialist",
            "specialist",
            "673891",
            "Codeforces Round #319 (Div. 2)"
        ]
        ,
        [
             1442939400000,
             1368,
             580,
             "Codeforces Round #321 (Div. 2)",
             "",
             -51,
             2238,
            "/contest/580/standings/participant/5670511#p5670511",
            "pupil",
            "pupil",
            "683084",
            "Codeforces Round #321 (Div. 2)"
        ]
        ,
        [
             1444149000000,
             1369,
             584,
             "Codeforces Round #324 (Div. 2)",
             "",
             1,
             1916,
            "/contest/584/standings/participant/5813756#p5813756",
            "pupil",
            "pupil",
            "694454",
            "Codeforces Round #324 (Div. 2)"
        ]
        ,
        [
             1444641000000,
             1332,
             586,
             "Codeforces Round #325 (Div. 2)",
             "",
             -37,
             2127,
            "/contest/586/standings/participant/5865387#p5865387",
            "pupil",
            "pupil",
            "699374",
            "Codeforces Round #325 (Div. 2)"
        ]
        ,
        [
             1444926600000,
             1315,
             588,
             "Codeforces Round #326 (Div. 2)",
             "",
             -17,
             2222,
            "/contest/588/standings/participant/5911143#p5911143",
            "pupil",
            "pupil",
            "702915",
            "Codeforces Round #326 (Div. 2)"
        ]
        ,
        [
             1445763600000,
             1286,
             591,
             "Codeforces Round #327 (Div. 2)",
             "",
             -29,
             2259,
            "/contest/591/standings/participant/6016332#p6016332",
            "pupil",
            "pupil",
            "707181",
            "Codeforces Round #327 (Div. 2)"
        ]
        ,
        [
             1446655500000,
             1300,
             593,
             "Codeforces Round #329 (Div. 2)",
             "",
             14,
             1815,
            "/contest/593/standings/participant/6117951#p6117951",
            "pupil",
            "pupil",
            "716917",
            "Codeforces Round #329 (Div. 2)"
        ]
        ,
        [
             1447605300000,
             1378,
             596,
             "Codeforces Round #331 (Div. 2)",
             "",
             78,
             877,
            "/contest/596/standings/participant/6234149#p6234149",
            "pupil",
            "pupil",
            "718923",
            "Codeforces Round #331 (Div. 2)"
        ]
        ,
        [
             1448984100000,
             1380,
             604,
             "Codeforces Round #334 (Div. 2)",
             "",
             2,
             1453,
            "/contest/604/standings/participant/6385610#p6385610",
            "pupil",
            "pupil",
            "729921",
            "Codeforces Round #334 (Div. 2)"
        ]
        ,
        [
             1449677100000,
             1395,
             606,
             "Codeforces Round #335 (Div. 2)",
             "",
             15,
             1395,
            "/contest/606/standings/participant/6461030#p6461030",
            "pupil",
            "pupil",
            "733326",
            "Codeforces Round #335 (Div. 2)"
        ]
        ,
        [
             1450888500000,
             1445,
             608,
             "Codeforces Round #336 (Div. 2)",
             "",
             50,
             975,
            "/contest/608/standings/participant/6571566#p6571566",
            "specialist",
            "specialist",
            "736395",
            "Codeforces Round #336 (Div. 2)"
        ]
        ,
        [
             1451215200000,
             1457,
             610,
             "Codeforces Round #337 (Div. 2)",
             "",
             12,
             1029,
            "/contest/610/standings/participant/6624115#p6624115",
            "specialist",
            "specialist",
            "747693",
            "Codeforces Round #337 (Div. 2)"
        ]
        ,
        [
             1451487900000,
             1415,
             611,
             "Good Bye 2015",
             "",
             -42,
             3329,
            "/contest/611/standings/participant/6641893#p6641893",
            "specialist",
            "specialist",
            "752667",
            "Good Bye 2015"
        ]
        ,
        [
             1452261900000,
             1402,
             615,
             "Codeforces Round #338 (Div. 2)",
             "",
             -13,
             1616,
            "/contest/615/standings/participant/6718730#p6718730",
            "specialist",
            "specialist",
            "756139",
            "Codeforces Round #338 (Div. 2)"
        ]
        ,
        [
             1452789300000,
             1313,
             614,
             "Codeforces Round #339 (Div. 2)",
             "",
             -89,
             1929,
            "/contest/614/standings/participant/6772561#p6772561",
            "pupil",
            "pupil",
            "760918",
            "Codeforces Round #339 (Div. 2)"
        ]
        ,
        [
             1453563300000,
             1373,
             617,
             "Codeforces Round #340 (Div. 2)",
             "",
             60,
             1165,
            "/contest/617/standings/participant/6844856#p6844856",
            "pupil",
            "pupil",
            "763218",
            "Codeforces Round #340 (Div. 2)"
        ]
        ,
        [
             1454087400000,
             1358,
             618,
             "Wunder Fund Round 2016 (Div. 1 + Div. 2 combined)",
             "",
             -15,
             2455,
            "/contest/618/standings/participant/6903518#p6903518",
            "pupil",
            "pupil",
            "768158",
            "Wunder Fund Round 2016 (Div. 1 + Div. 2 combined)"
        ]
        ,
        [
             1454249100000,
             1481,
             621,
             "Codeforces Round #341 (Div. 2)",
             "",
             123,
             557,
            "/contest/621/standings/participant/6928779#p6928779",
            "specialist",
            "specialist",
            "770013",
            "Codeforces Round #341 (Div. 2)"
        ]
        ,
        [
             1454605500000,
             1413,
             624,
             "AIM Tech Round (Div. 2)",
             "",
             -68,
             2491,
            "/contest/624/standings/participant/6966911#p6966911",
            "specialist",
            "specialist",
            "780308",
            "AIM Tech Round (Div. 2)"
        ]
        ,
        [
             1454835900000,
             1399,
             625,
             "Codeforces Round #342 (Div. 2)",
             "",
             -14,
             1487,
            "/contest/625/standings/participant/7006070#p7006070",
            "pupil",
            "pupil",
            "782723",
            "Codeforces Round #342 (Div. 2)"
        ]
        ,
        [
             1455384900000,
             1476,
             626,
             "8VC Venture Cup 2016 - Elimination Round",
             "",
             77,
             1054,
            "/contest/626/standings/participant/7068650#p7068650",
            "specialist",
            "specialist",
            "785046",
            "8VC Venture Cup 2016 - Elimination Round"
        ]
        ,
        [
             1455986100000,
             1550,
             629,
             "Codeforces Round #343 (Div. 2)",
             "",
             74,
             453,
            "/contest/629/standings/participant/7159501#p7159501",
            "specialist",
            "specialist",
            "787331",
            "Codeforces Round #343 (Div. 2)"
        ]
        ,
        [
             1456506900000,
             1572,
             633,
             "Manthan, Codefest 16",
             "",
             22,
             978,
            "/contest/633/standings/participant/7220377#p7220377",
            "specialist",
            "specialist",
            "790900",
            "Manthan, Codefest 16"
        ]
        ,
        [
             1457022900000,
             1544,
             631,
             "Codeforces Round #344 (Div. 2)",
             "",
             -28,
             1135,
            "/contest/631/standings/participant/7296076#p7296076",
            "specialist",
            "specialist",
            "795757",
            "Codeforces Round #344 (Div. 2)"
        ]
        ,
        [
             1457342700000,
             1622,
             651,
             "Codeforces Round #345 (Div. 2)",
             "",
             78,
             315,
            "/contest/651/standings/participant/7335683#p7335683",
            "expert",
            "expert",
            "798278",
            "Codeforces Round #345 (Div. 2)"
        ]
        ,
        [
             1458318900000,
             1623,
             645,
             "CROC 2016 - Elimination Round",
             "Чемпионат КРОК 2016 - Отборочный Раунд",
             1,
             458,
            "/contest/645/standings/participant/7453746#p7453746",
            "expert",
            "expert",
            "804874",
            "CROC 2016 - Elimination Round"
        ]
        ,
        [
             1458376500000,
             1554,
             653,
             "IndiaHacks 2016 - Online Edition (Div. 1 + Div. 2)",
             "",
             -69,
             1329,
            "/contest/653/standings/participant/7460755#p7460755",
            "specialist",
            "specialist",
            "806601",
            "IndiaHacks 2016 - Online Edition (Div. 1 + Div. 2)"
        ]
        ,
        [
             1459182900000,
             1598,
             658,
             "VK Cup 2016 - Round 1 (Div. 2 Edition)",
             "VK Cup 2016 - Round 1 (редакция для Div. 2)",
             44,
             332,
            "/contest/658/standings/participant/7557514#p7557514",
            "specialist",
            "specialist",
            "811797",
            "VK Cup 2016 - Round 1 (Div. 2 Edition)"
        ]
        ,
        [
             1459353900000,
             1642,
             659,
             "Codeforces Round #346 (Div. 2)",
             "",
             44,
             496,
            "/contest/659/standings/participant/7577017#p7577017",
            "expert",
            "expert",
            "813984",
            "Codeforces Round #346 (Div. 2)"
        ]
        ,
        [
             1461515700000,
             1621,
             669,
             "Codeforces Round #348 (VK Cup 2016 Round 2, Div. 2 Edition)",
             "",
             -21,
             587,
            "/contest/669/standings/participant/7798454#p7798454",
            "expert",
            "expert",
            "819090",
            "Codeforces Round #348 (VK Cup 2016 Round 2, Div. 2 Edition)"
        ]
        ,
        [
             1461947700000,
             1630,
             667,
             "Codeforces Round #349 (Div. 2)",
             "Codeforces Round #349 (Div. 2)",
             9,
             535,
            "/contest/667/standings/participant/7832531#p7832531",
            "expert",
            "expert",
            "822593",
            "Codeforces Round #349 (Div. 2)"
        ]
        ,
        [
             1462464300000,
             1680,
             670,
             "Codeforces Round #350 (Div. 2)",
             "",
             50,
             354,
            "/contest/670/standings/participant/7875441#p7875441",
            "expert",
            "expert",
            "824789",
            "Codeforces Round #350 (Div. 2)"
        ]
        ,
        [
             1462984500000,
             1756,
             672,
             "Codeforces Round #352 (Div. 2)",
             "",
             76,
             171,
            "/contest/672/standings/participant/7930817#p7930817",
            "expert",
            "expert",
            "831293",
            "Codeforces Round #352 (Div. 2)"
        ]
        ,
        [
             1463416500000,
             1753,
             675,
             "Codeforces Round #353 (Div. 2)",
             "",
             -3,
             525,
            "/contest/675/standings/participant/7984171#p7984171",
            "expert",
            "expert",
            "834847",
            "Codeforces Round #353 (Div. 2)"
        ]
        ,
        [
             1464188700000,
             1707,
             676,
             "Codeforces Round #354 (Div. 2)",
             "",
             -46,
             977,
            "/contest/676/standings/participant/8043540#p8043540",
            "expert",
            "expert",
            "838823",
            "Codeforces Round #354 (Div. 2)"
        ]
        ,
        [
             1464798900000,
             1686,
             677,
             "Codeforces Round #355 (Div. 2)",
             "",
             -21,
             796,
            "/contest/677/standings/participant/8098259#p8098259",
            "expert",
            "expert",
            "842207",
            "Codeforces Round #355 (Div. 2)"
        ]
        ,
        [
             1465403700000,
             1721,
             680,
             "Codeforces Round #356 (Div. 2)",
             "",
             35,
             392,
            "/contest/680/standings/participant/8156098#p8156098",
            "expert",
            "expert",
            "846347",
            "Codeforces Round #356 (Div. 2)"
        ]
        ,
        [
             1465922100000,
             1795,
             681,
             "Codeforces Round #357 (Div. 2)",
             "",
             74,
             146,
            "/contest/681/standings/participant/8221144#p8221144",
            "expert",
            "expert",
            "849913",
            "Codeforces Round #357 (Div. 2)"
        ]
        ,
        [
             1466181300000,
             1808,
             682,
             "Codeforces Round #358 (Div. 2)",
             "",
             13,
             315,
            "/contest/682/standings/participant/8268900#p8268900",
            "expert",
            "expert",
            "857227",
            "Codeforces Round #358 (Div. 2)"
        ]
        ,
        [
             1466699700000,
             1790,
             686,
             "Codeforces Round #359 (Div. 2)",
             "",
             -18,
             514,
            "/contest/686/standings/participant/8325298#p8325298",
            "expert",
            "expert",
            "860801",
            "Codeforces Round #359 (Div. 2)"
        ]
        ,
        [
             1467219900000,
             1720,
             688,
             "Codeforces Round #360 (Div. 2)",
             "",
             -70,
             1260,
            "/contest/688/standings/participant/8378409#p8378409",
            "expert",
            "expert",
            "866534",
            "Codeforces Round #360 (Div. 2)"
        ]
        ,
        [
             1467822900000,
             1668,
             689,
             "Codeforces Round #361 (Div. 2)",
             "",
             -52,
             1188,
            "/contest/689/standings/participant/8447756#p8447756",
            "expert",
            "expert",
            "870392",
            "Codeforces Round #361 (Div. 2)"
        ]
        ,
        [
             1468514100000,
             1685,
             697,
             "Codeforces Round #362 (Div. 2)",
             "",
             17,
             541,
            "/contest/697/standings/participant/8517686#p8517686",
            "expert",
            "expert",
            "872846",
            "Codeforces Round #362 (Div. 2)"
        ]
        ,
        [
             1468933500000,
             1643,
             699,
             "Codeforces Round #363 (Div. 2)",
             "",
             -42,
             1434,
            "/contest/699/standings/participant/8564340#p8564340",
            "expert",
            "expert",
            "877901",
            "Codeforces Round #363 (Div. 2)"
        ]
        ,
        [
             1469205300000,
             1679,
             701,
             "Codeforces Round #364 (Div. 2)",
             "",
             36,
             520,
            "/contest/701/standings/participant/8608771#p8608771",
            "expert",
            "expert",
            "881380",
            "Codeforces Round #364 (Div. 2)"
        ]
        ,
        [
             1470578700000,
             1734,
             705,
             "Codeforces Round #366 (Div. 2)",
             "",
             55,
             337,
            "/contest/705/standings/participant/8764587#p8764587",
            "expert",
            "expert",
            "885908",
            "Codeforces Round #366 (Div. 2)"
        ]
        ,
        [
             1470933300000,
             1811,
             706,
             "Codeforces Round #367 (Div. 2)",
             "",
             77,
             165,
            "/contest/706/standings/participant/8811370#p8811370",
            "expert",
            "expert",
            "890183",
            "Codeforces Round #367 (Div. 2)"
        ]
        ,
        [
             1471698300000,
             1937,
             707,
             "Codeforces Round #368 (Div. 2)",
             "",
             126,
             51,
            "/contest/707/standings/participant/8898506#p8898506",
            "candidate master",
            "candidate master",
            "894576",
            "Codeforces Round #368 (Div. 2)"
        ]
        ,
        [
             1473784500000,
             1860,
             713,
             "Codeforces Round #371 (Div. 1)",
             "",
             -77,
             529,
            "/contest/713/standings/participant/9172698#p9172698",
            "expert",
            "expert",
            "921743",
            "Codeforces Round #371 (Div. 1)"
        ]
        ,
        [
             1474119900000,
             1801,
             716,
             "Codeforces Round #372 (Div. 2)",
             "",
             -59,
             1165,
            "/contest/716/standings/participant/9228084#p9228084",
            "expert",
            "expert",
            "923465",
            "Codeforces Round #372 (Div. 2)"
        ]
        ,
        [
             1474635900000,
             1791,
             719,
             "Codeforces Round #373 (Div. 2)",
             "",
             -10,
             686,
            "/contest/719/standings/participant/9328176#p9328176",
            "expert",
            "expert",
            "928073",
            "Codeforces Round #373 (Div. 2)"
        ]
        ,
        [
             1475244300000,
             1875,
             721,
             "Codeforces Round #374 (Div. 2)",
             "",
             84,
             111,
            "/contest/721/standings/participant/9396328#p9396328",
            "expert",
            "expert",
            "932606",
            "Codeforces Round #374 (Div. 2)"
        ]
        ,
        [
             1475330700000,
             1958,
             722,
             "Intel Code Challenge Elimination Round (Div. 1 + Div. 2, combined)",
             "",
             83,
             303,
            "/contest/722/standings/participant/9426780#p9426780",
            "candidate master",
            "candidate master",
            "937836",
            "Intel Code Challenge Elimination Round (Div. 1 + Div. 2, combined)"
        ]
        ,
        [
             1479632700000,
             2051,
             737,
             "Codeforces Round #380 (Div. 1, Rated, Based on Technocup 2017 - Elimination Round 2)",
             "Codeforces Round #380 (Div. 1, рейтинговый, по мотивам Технокубок 2017 - Отборочный Раунд 2)",
             93,
             115,
            "/contest/737/standings/participant/10006923#p10006923",
            "candidate master",
            "candidate master",
            "974320",
            "Codeforces Round #380 (Div. 1, Rated, Based on Technocup 2017 - Elimination Round 2)"
        ]
        ,
        [
             1481034900000,
             2115,
             741,
             "Codeforces Round #383 (Div. 1)",
             "",
             64,
             133,
            "/contest/741/standings/participant/10169667#p10169667",
            "candidate master",
            "candidate master",
            "986722",
            "Codeforces Round #383 (Div. 1)"
        ]
        ,
        [
             1484235300000,
             2132,
             757,
             "Codecraft-17 and Codeforces Round #391 (Div. 1 + Div. 2, combined)",
             "",
             17,
             291,
            "/contest/757/standings/participant/10704903#p10704903",
            "candidate master",
            "candidate master",
            "1024417",
            "Codecraft-17 and Codeforces Round #391 (Div. 1 + Div. 2, combined)"
        ]
        ,
        [
             1484499900000,
             2146,
             755,
             "8VC Venture Cup 2017 - Elimination Round",
             "",
             14,
             314,
            "/contest/755/standings/participant/10732390#p10732390",
            "candidate master",
            "candidate master",
            "1029296",
            "8VC Venture Cup 2017 - Elimination Round"
        ]
        ,
        [
             1486042500000,
             2039,
             763,
             "Codeforces Round #395 (Div. 1)",
             "",
             -107,
             492,
            "/contest/763/standings/participant/10970489#p10970489",
            "candidate master",
            "candidate master",
            "1052104",
            "Codeforces Round #395 (Div. 1)"
        ]
        ,
        [
             1487059500000,
             2023,
             765,
             "Codeforces Round #397 by Kaspersky Lab and Barcelona Bootcamp (Div. 1 + Div. 2 combined)",
             "",
             -16,
             483,
            "/contest/765/standings/participant/11133101#p11133101",
            "candidate master",
            "candidate master",
            "1061505",
            "Codeforces Round #397 by Kaspersky Lab and Barcelona Bootcamp (Div. 1 + Div. 2 combined)"
        ]
        ,
        [
             1487606700000,
             2000,
             768,
             "Divide by Zero 2017 and Codeforces Round #399 (Div. 1 + Div. 2, combined)",
             "",
             -23,
             655,
            "/contest/768/standings/participant/11203401#p11203401",
            "candidate master",
            "candidate master",
            "1071136",
            "Divide by Zero 2017 and Codeforces Round #399 (Div. 1 + Div. 2, combined)"
        ]
        ,
        [
             1488096300000,
             1946,
             778,
             "Codeforces Round #402 (Div. 1)",
             "",
             -54,
             349,
            "/contest/778/standings/participant/11294110#p11294110",
            "candidate master",
            "candidate master",
            "1083532",
            "Codeforces Round #402 (Div. 1)"
        ]
        ,
        [
             1488719100000,
             1993,
             781,
             "Codeforces Round #403 (Div. 1, based on Technocup 2017 Finals)",
             "Codeforces Round #403 (Div. 1, по мотивам финала Технокубка 2017)",
             47,
             219,
            "/contest/781/standings/participant/11390786#p11390786",
            "candidate master",
            "candidate master",
            "1086914",
            "Codeforces Round #403 (Div. 1, based on Technocup 2017 Finals)"
        ]
        ,
        [
             1492356900000,
             2039,
             800,
             "Codeforces Round #409 (rated, Div. 1, based on VK Cup 2017 Round 2)",
             "Codeforces Round #409 (рейтинговый, Div. 1, по задачам VK Cup 2017 Раунд 2)",
             46,
             124,
            "/contest/800/standings/participant/11957747#p11957747",
            "candidate master",
            "candidate master",
            "1116283",
            "Codeforces Round #409 (rated, Div. 1, based on VK Cup 2017 Round 2)"
        ]
        ,
        [
             1492965900000,
             1943,
             793,
             "Tinkoff Challenge - Elimination Round",
             "",
             -96,
             1020,
            "/contest/793/standings/participant/12047368#p12047368",
            "candidate master",
            "candidate master",
            "1124436",
            "Tinkoff Challenge - Elimination Round"
        ]
        ,
        [
             1493909400000,
             1945,
             804,
             "Codeforces Round #411 (Div. 1)",
             "",
             2,
             351,
            "/contest/804/standings/participant/12150510#p12150510",
            "candidate master",
            "candidate master",
            "1126558",
            "Codeforces Round #411 (Div. 1)"
        ]
        ,
        [
             1494668100000,
             2043,
             794,
             "Tinkoff Challenge - Final Round (Codeforces Round #414, rated, Div. 1 + Div. 2)",
             "Tinkoff Challenge - Финал (Codeforces Round #414, рейтинговый, Div. 1 + Div. 2)",
             98,
             142,
            "/contest/794/standings/participant/12265228#p12265228",
            "candidate master",
            "candidate master",
            "1143790",
            "Tinkoff Challenge - Final Round (Codeforces Round #414, rated, Div. 1 + Div. 2)"
        ]
        ,
        [
             1495303500000,
             2063,
             809,
             "Codeforces Round #415 (Div. 1)",
             "",
             20,
             164,
            "/contest/809/standings/participant/12340315#p12340315",
            "candidate master",
            "candidate master",
            "1146361",
            "Codeforces Round #415 (Div. 1)"
        ]
        ,
        [
             1499791500000,
             2048,
             827,
             "Codeforces Round #423 (Div. 1, rated, based on VK Cup Finals)",
             "Codeforces Round #423 (Div. 1, рейтинговый, основан на Финале VK Cup)",
             -15,
             256,
            "/contest/827/standings/participant/12930950#p12930950",
            "candidate master",
            "candidate master",
            "1175643",
            "Codeforces Round #423 (Div. 1, rated, based on VK Cup Finals)"
        ]
        ,
        [
             1499958300000,
             2101,
             830,
             "Codeforces Round #424 (Div. 1, rated, based on VK Cup Finals)",
             "Codeforces Round #424 (Div. 1, рейтинговый, основан на Финале VK Cup)",
             53,
             150,
            "/contest/830/standings/participant/12950431#p12950431",
            "candidate master",
            "candidate master",
            "1184015",
            "Codeforces Round #424 (Div. 1, rated, based on VK Cup Finals)"
        ]
        ,
        [
             1503592500000,
             2074,
             843,
             "AIM Tech Round 4 (Div. 1)",
             "",
             -27,
             290,
            "/contest/843/standings/participant/13487388#p13487388",
            "candidate master",
            "candidate master",
            "1223341",
            "AIM Tech Round 4 (Div. 1)"
        ]
        ,
        [
             1504272900000,
             2123,
             848,
             "Codeforces Round #431 (Div. 1)",
             "",
             49,
             169,
            "/contest/848/standings/participant/13592174#p13592174",
            "candidate master",
            "candidate master",
            "1232118",
            "Codeforces Round #431 (Div. 1)"
        ]
        ,
        [
             1505583300000,
             2096,
             859,
             "MemSQL Start[c]UP 3.0 - Round 1",
             "",
             -27,
             371,
            "/contest/859/standings/participant/13818749#p13818749",
            "candidate master",
            "candidate master",
            "1245236",
            "MemSQL Start[c]UP 3.0 - Round 1"
        ]
        ,
        [
             1506263700000,
             2059,
             855,
             "Manthan, Codefest 17",
             "",
             -37,
             456,
            "/contest/855/standings/participant/13939833#p13939833",
            "candidate master",
            "candidate master",
            "1255577",
            "Manthan, Codefest 17"
        ]
        ,
        [
        	1506263800000,
        	2211,
        	856,
        	"MemSQL Start[c]UP 3.0 - Round 2",
        	"",
        	152,
        	27,
        	"/contest/870/standings",
        	"master",
        	"master",
        	"1265328",
        	"MemSQL Start[c]UP 3.0 - Round 2",
        ]
    ]);
    data.push([
        [
            1506263800000, 2211
        ]
    ]);
var datas = [
    {label: "praran26", data: data[0]},
    {clickable: false, hoverable: false, color: "red", data: data[1]}    
];

var markings = [
    { color: '#f33', lineWidth: 1, yaxis: { from: 2400 } },
    { color: '#ffbb55', lineWidth: 1, yaxis: { from: 2200, to: 2399 } },
    { color: '#f8f', lineWidth: 1, yaxis: { from: 1900, to: 2199 } },
    { color: '#aaf', lineWidth: 1, yaxis: { from: 1600, to: 1899 } },
    { color: '#77ddbb', lineWidth: 1, yaxis: { from: 1400, to: 1599 } },
    { color: '#7f7', lineWidth: 1, yaxis: { from: 1200, to: 1399 } },
    { color: '#ccc', lineWidth: 1, yaxis: { from: 0, to: 1199 } },
];
var options = {
    lines: { show: true },
    points: { show: true },
    xaxis: { mode: "time" },
    yaxis: { min: 1000, max: 2500, ticks: [1200, 1400, 1600, 1900, 2200, 2400] },
    grid: { hoverable: true, markings: markings }
};
var plot = $.plot($("#placeholder"), datas, options);
function showTooltip(x, y, contents) {
    $('<div id="tooltip">' + contents + '</div>').css( {
        position: 'absolute',
        display: 'none',
        top: y - 20,
        left: x + 10,
        border: '1px solid #fdd',
        padding: '2px',
        'font-size' : '11px',
        'background-color': '#fee',
        opacity: 1
    }).appendTo("body").fadeIn(200);
}
var ctx = plot.getCanvas().getContext("2d");

var prev = -1;
$("#placeholder").bind("plothover", function (event, pos, item) {
    if (item) {
        if (prev != item.dataIndex) {
            $("#tooltip").remove();
            var params = data[item.seriesIndex][item.dataIndex];
            var total = params[1];
            var change = params[5] > 0 ? "+" + params[5] : params[5];
            var contestName = params[11];
            var contestId = params[2];
            var rank = params[6];
            var title = params[8];
            var html = contestName + "<br> = " + total + " (" + change + "), " + title + "<br>"
                            + "Rank: " + rank;
            showTooltip(item.pageX, item.pageY, html);
            setTimeout(function () {
                $("#tooltip").fadeOut(200);
                prev = -1;
            }, 4000);
            prev = item.dataIndex;
        }
    }
});

});	
</script>
{% endblock %}