html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  line-height: 30px; /* Vertically center the text there */
  padding-top: 5px;
  background-color: #bbbbbb;
}

.activenav {
	border-bottom: 6px solid #DEADFF;
	padding-bottom: 0px;
}

.navbar-custom {
	background-color:  #310052;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.btn-primary {
  transition: 0.5s;
}
.btn-primary:hover {
  background-color: #FFFFFF;
  color:#000000;
  border-color: #428bca;
}

form, .submissions, .standings_button, .user-profile {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
  border-color: #163550;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}

.user-red, .user-red:hover, .user-red:focus {
  color: red;
}

.user-orange, .user-orange:hover, .user-orange:focus {
  color: #FF8C00;
}

.user-violet, .user-violet:hover, .user-violet:focus {
  color: #a0a;
}

.user-blue, .user-blue:hover, .user-blue:focus {
  color: blue;
}

.user-cyan, .user-cyan:hover, .user-cyan:focus {
  color: #03A89E;
}

.user-green, .user-green:hover, .user-green:focus {
  color: green;
}

.user-gray, .user-gray:hover, .user-gray:focus {
  color: gray;
}


blockquote {
  border-left: 10px solid #ccc;
  padding-left: 16px;
  padding-right: 16px;
}
